body {
  background-color: #F5F6F8;
}

body {
  background-color: #efefef;
  font-size: 16px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0 0 10px 0;
  padding: 0;
}

/* headerセクション */
header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  width: 200px;
  height: auto;
  margin-left: 5px;
}

.logo-img {
  width: 100%;
}

.profile-img {
  border-radius: 50%;
}

.detail-img {
  object-fit: contain;
  width: 100%;
}


.header-navigation li a {
  color: #333;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.header-navigation li :hover{
  background: #fff;
  color: #ff701e;
}

.header-navigation li {
  list-style-type: none; /* 追加 */
}

.header-navigation {
  margin-right: 50px;
  margin-left: 50px; /* 追加 */
  gap:15px;
  display:flex;
  flex-direction: row;
  justify-content:flex-end;
  transition:1s;
  
  
}

.container {
  width: 870px;
  height: auto;
  margin: 40px auto;
  
}

.text-title {
  font-weight: 700;
  font-size: 36px;
}




.card-contentsinfo {
  padding: 22px 32px;
  display: block;
  margin: 30px 0;
  background-color: #fff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 15px; 
}

.card-contentsmember {
  padding: 22px 32px;
  display: block;
  margin: 30px 0;
  background-color: #fff;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 15px; 
}

.card-title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 22px;
  align-items:flex-start;
}

.information-list {
  list-style-type: none;
  padding-left: 0;
}

.information-list li {
  margin-bottom: 10px;
}

.user-items {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
}

.user-items .item {
  margin-bottom: 24px;
  margin-right: 48px;
  text-align: center;
  
}

.user-items .item img {
  width: 150px;
  height: 150px;
}

.user-items .item .username {
  color: #818181;
  margin: 1px auto;
}

.detail-button{
  
  width: 150px;
  height: 32px;
  color:#FFF;
  background-color: #74BFBC;
  margin-top: 32px;
  border:none;
  border-radius: 5px; 
}

.detail-button:hover {
  
  color: #74BFBC;
  background: #fff;
  
}

footer {
  background-color: #818181;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.copyright {
  font-size: 12px;
  color: #ffffff;
}

.card-contentsmember .card-title {
  margin-top: 0;
}
